[submodule "Capacitors_SMD.pretty"]
	path = Capacitors_SMD.pretty
	url = https://github.com/KiCad/Capacitors_SMD.pretty
[submodule "Mounting_Holes.pretty"]
	path = Mounting_Holes.pretty
	url = https://github.com/KiCad/Mounting_Holes.pretty
[submodule "TO_SOT_Packages_SMD.pretty"]
	path = TO_SOT_Packages_SMD.pretty
	url = https://github.com/KiCad/TO_SOT_Packages_SMD.pretty
[submodule "Connectors_Terminal_Blocks.pretty"]
	path = Connectors_Terminal_Blocks.pretty
	url = https://github.com/KiCad/Connectors_Terminal_Blocks.pretty
[submodule "Connectors.pretty"]
	path = Connectors.pretty
	url = https://github.com/KiCad/Connectors.pretty
[submodule "Capacitors_THT.pretty"]
	path = Capacitors_THT.pretty
	url = https://github.com/KiCad/Capacitors_THT.pretty
[submodule "Resistors_SMD.pretty"]
	path = Resistors_SMD.pretty
	url = https://github.com/KiCad/Resistors_SMD.pretty
